html, body {
  height: 100%;
  width: 100%;
}
.content {
  background-color: white;
  top: 40%;
  position: relative;
}
h1 {
  color: black;
  text-align: center;
  text-transform: uppercase;
}
nav {
  text-align: center;
}
nav * {
  vertical-align: middle;
}
nav a {
  color: #333;
  display: inline-block;
  line-height: 2em;
  margin: 0 1em;
  padding: 0 0.5em;
  text-decoration: none;
}

nav h1 {
  display: inline-block;
}

nav a.github {
  color: black;
}

nav a.linkedin {
  color: #1985bc;
}

nav a.facebook {
  color: #415e9b;;
}

nav a.blog {
  color: #00da00;
}